<div id="paymentBar" class="payment-bar disabled">
  <p class="payment-title">Accepted payment methods</p>
  <div class="payment-icons">
    <img src="{{ '/assets/payments/paynow.svg' | relative_url }}" alt="PayNow">
    <img src="{{ '/assets/payments/visa.svg' | relative_url }}" alt="Visa" loading="lazy">
    <img src="{{ '/assets/payments/mc.svg' | relative_url }}" alt="Mastercard" loading="lazy">
    <img src="{{ '/assets/payments/fpx.svg' | relative_url }}" alt="FPX">
  </div>
</div>


<!--
<div class="payment-bar" aria-label="Accepted payment methods">
  <img src="{{ '/assets/payments/paynow.svg' | relative_url }}" alt="PayNow">
  <img src="{{ '/assets/payments/visa.svg' | relative_url }}" alt="Visa" loading="lazy">
  <img src="{{ '/assets/payments/mc.svg' | relative_url }}" alt="Mastercard" loading="lazy">
  <img src="{{ '/assets/payments/fpx.svg' | relative_url }}" alt="FPX">
</div>
-->